#wait {
	position: fixed;
	top: 40%;
	z-index: 9999;
	width: 100%;
	text-align: center;
	padding: 20px;
	font-weight: bold;
	font-size: 120%;
	display: none;
	border-top: 2px solid;
	border-bottom: 2px solid;
	border-color: #000;
}
